# Ignore artifacts:
node_modules/
build/
dist/
coverage/
.expo/
.expo-shared/

# Ignore lockfiles
package-lock.json
yarn.lock

# Ignore config files if you don't want them formatted
# *.config.js
# .eslintrc.js
# .prettierrc.js

# Add any other files or directories you want Prettier to ignore